@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=M+PLUS+1p&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor0: #ffffff;
    --cor1: #DBAE5B;
    --cor2: #bf5b04;
    --cor3: #ad3b00;
    --cor4: #591902;
    --cor5: #000000;
}
    
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor1);
    font-family: Montserrat, Verdana, Arial, sans-serif;
}

header{
    display: flex;
    background-color: #4d4b4abb;
    background-image: url(Imagens/2-capa.jpg);
    background-size: 120%;
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* Faz a imagem de fundo ficar fixa ao rolar a página */
    background-blend-mode: color-burn; 
    background-position:  auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.logo{
    display: flex;
    flex-direction: row-reverse;
}

h1 {
    font-family:  Dancing Script;
    font-size: 70px;
}

h2{
    font-family: Rowdies;
    font-weight: 100;
    font-size: 20px;
}

.top{
    margin: 2% 5% ;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
    background-color: var(--cor0);
    display: flex;
    height: 180px;
    width: 500px;
    border-radius: 10px;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px;
}

a:hover {
    text-decoration: none;
    color: black;
    background-color: var(--cor0);
    display: flex;
    height: 190px;
    width: 530px;
    border-radius: 10px;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px;
}

img{
    height: 150px;
    border-radius: 20px;
}

div{
    margin: 10px;
}

footer{
    background-color: chocolate;
    text-align: center;
    padding: 20px;
}

.topo, h3 {
    text-align: center;
    margin: 0px;
    padding: 10px;
    width: auto;
    background-color: var(--cor2);

    
}